<div class="container mt-4 ">
    <div class="card">
        <div class="card-body">
            <span class="h3">{{'title_list'| translate}}</span>
            <button class="btn btn-success btn-lg float-right" routerLink="/createEtudiant">{{'bouton_list'| translate}}</button>
            <h5 style="margin-top: 30px" *ngIf="etudiant.length == 0">{{'error_list'| translate}}</h5>
            <table *ngIf="etudiant.length > 0" class="table mt-5 table-striped">
                <thead>
                  <tr>
                    <th >{{'th_nom'| translate}}</th>
                    <th >{{'th_prenom'| translate}}</th>
                    <th >{{'th_email'| translate}}</th>
                    <th >{{'th_adresse'| translate}}</th>
                    <th>{{'th_operation'| translate}}</th>
                    <th>{{'th_operation'| translate}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let etudiant of etudiant">
                    <th>{{etudiant.nom}}</th>
                    <td>{{etudiant.prenom}}</td>
                    <td>{{etudiant.email}}</td>
                    <td>{{etudiant.adresse}}</td>
                    <td>{{etudiant.language}}</td>
                    <td>
                      <button class="bg-info" [routerLink]="['/editEtudiant/',etudiant.id]"> <i class="fas fa-edit  text-white "  ></i></button>
                      <button class="bg-danger"  (click)="deleteEtudiant(etudiant.id)"> <i class="fas fa-trash-alt  text-white " ></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>

    </div>
</div>