<div class="container pt-4">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center">
                <div class="card-body">
                 <h3>{{'title_login'| translate}}</h3>
                 <form class="pt-4 mt-16" #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" >
                        <input type="text" class="form-control form-control-lg mt-3" ngModel id="email" name="email" placeholder="{{'holdplace_nom_log'| translate}}">
                        <input type="password" placeholder="{{'holdplace_prenom_log'| translate}}" ngModel id="password" name="password" class="form-control form-control-lg mt-3" >
                     <div class="mt-3">
                         <button type="submit"  class="btn btn-success btn-lg">{{'bouton_log'| translate}}</button>
                     </div>
                     <div class="pt-4">
                        <span >{{'text_log'| translate}} <a routerLink="/signup" >{{'text_signup'| translate}}</a></span>
                     </div>
                 </form>
                </div>
            </div>
        </div>
    </div>
</div>