<div class="container pt-4">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center">
                <div class="card-body">
                 <h3>Login Form</h3>
                 <form class="pt-4 mt-16" #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" >
                        <input type="text" class="form-control form-control-lg mt-3" ngModel id="email" name="email" placeholder="Enter email">
                        <input type="password" placeholder="Enter Password" ngModel id="password" name="password" class="form-control form-control-lg mt-3" >
                     <div class="mt-3">
                         <button type="submit"  class="btn btn-success btn-lg">Login</button>
                     </div>
                     <div class="pt-4">
                        <span >if you have not account <a routerLink="/signup" >Sign-up</a></span>
                     </div>
                 </form>
                </div>
            </div>
        </div>
    </div>
</div>