<div class="container pt-4">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center">
                <div class="card-body">
                 <h3>Enregistre un etudiant
                 <div *ngIf="loading"  class="spinner-border float-right" role="status">
                     <span class="sr-only">Loading...</span>
                 </div>
                </h3>
                 <span *ngIf="submit && createEtudiant.invalid" class="badge badge-danger"> Veilleur renseigne les champs</span>
                 <form class="pt-4 mt-8" [formGroup]="createEtudiant" (ngSubmit)="saveEtudiant()">
                     <div class="row ">
                         <div class="col">
                          <input type="text" class="form-control form-control-lg mt-3"formControlName="nom" placeholder="entre votre nom">
                         </div>
                         <div class="col">
                            <input type="text" class="form-control form-control-lg mt-3"formControlName="prenom" placeholder="entre votre prenom">
                           </div>
                     </div>
                        <input type="email" class="form-control form-control-lg mt-3"formControlName="email" placeholder="entre votre email">
                        <input type="text" class="form-control form-control-lg mt-3"formControlName="adresse" placeholder="entre votre adresse">
                     <div class="mt-3">
                         <button type="submit" class="btn btn-success btn-lg" >Save</button>
                     </div>
                 </form>
                </div>
            </div>
        </div>
    </div>
</div>